.gallery-img{
    width: 30%;
}

.soccer-header h1{
    font-size: 2.5rem;
    text-align: center;
    justify-items: center;
    color: var(--poolblue);
    margin: 0;
    padding: .5rem;
}

.soccer-header p{
    text-align: center;
    justify-items: center;
    padding-top: .3rem;
    padding-bottom: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-weight: 400;
}

.soccer-header{
    background-image: url(images/soccer-head.png);
    background-size: cover;          /* Fill the entire element */
    background-position: center;     /* Center the image */
    background-repeat: no-repeat;    /* Don’t tile */
    margin: 0;
}

.bball-header h1{
    font-size: 2.5rem;
    text-align: center;
    justify-items: center;
    color: var(--poolblue);
    margin: 0;
    padding: .5rem;
}

.bball-header p{
    text-align: center;
    justify-items: center;
    padding-top: .3rem;
    padding-bottom: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-weight: 400;
}

.bball-header{
    background-image: url(images/bball-head.png);
    background-size: cover;          /* Fill the entire element */
    background-position: center;     /* Center the image */
    background-repeat: no-repeat;    /* Don’t tile */
    margin: 0;
}

.cricket-header h1{
    font-size: 2.5rem;
    text-align: center;
    justify-items: center;
    color: var(--poolblue);
    margin: 0;
    padding: .5rem;
}

.cricket-header p{
    text-align: center;
    justify-items: center;
    padding-top: .3rem;
    padding-bottom: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-weight: 400;
}

.cricket-header{
    background-image: url(images/cricket-head.png);
    background-size: cover;          /* Fill the entire element */
    background-position: center;     /* Center the image */
    background-repeat: no-repeat;    /* Don’t tile */
    margin: 0;
}

.hockey-header h1{
    font-size: 2.5rem;
    text-align: center;
    justify-items: center;
    color: var(--poolblue);
    margin: 0;
    padding: .5rem;
}

.hockey-header p{
    text-align: center;
    justify-items: center;
    padding-top: .3rem;
    padding-bottom: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-weight: 400;
}

.hockey-header{
    background-image: url(images/hockey-head.png);
    background-size: cover;          /* Fill the entire element */
    background-position: center;     /* Center the image */
    background-repeat: no-repeat;    /* Don’t tile */
    margin: 0;
}

.padel-header h1{
    font-size: 2.5rem;
    text-align: center;
    justify-items: center;
    color: var(--poolblue);
    margin: 0;
    padding: .5rem;
}

.padel-header p{
    text-align: center;
    justify-items: center;
    padding-top: .3rem;
    padding-bottom: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-weight: 600;
}

.padel-header{
    background-image: url(images/padel-head.png);
    background-size: cover;          /* Fill the entire element */
    background-position: center;     /* Center the image */
    background-repeat: no-repeat;    /* Don’t tile */
    margin: 0;
}

.netball-header h1{
    font-size: 2.5rem;
    text-align: center;
    justify-items: center;
    color: var(--poolblue);
    margin: 0;
    padding: .5rem;
}

.netball-header p{
    text-align: center;
    justify-items: center;
    padding-top: .3rem;
    padding-bottom: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-weight: 400;
}

.netball-header{
    background-image: url(images/netball-head.png);
    background-size: cover;          /* Fill the entire element */
    background-position: center;     /* Center the image */
    background-repeat: no-repeat;    /* Don’t tile */
    margin: 0;
}


.swim-header h1{
    font-size: 2.5rem;
    text-align: center;
    justify-items: center;
    color: var(--poolblue);
    margin: 0;
    padding: .5rem;
}

.swim-header p{
    text-align: center;
    justify-items: center;
    padding-top: .3rem;
    padding-bottom: .8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-weight: 600;
}

.swim-header{
    background-image: url(images/swim-head.png);
    background-size: cover;          /* Fill the entire element */
    background-position: center;     /* Center the image */
    background-repeat: no-repeat;    /* Don’t tile */
    margin: 0;
}

.sport-info{
    padding: 0;
    margin-top: 0;
    background-color: var(--darkgray);
}

.sport-info h2{
    font-size: 2rem;
    text-align: center;
    justify-items: center;
    color: var(--tennisgreen);
    padding: 6px;
    margin: 0;
}

.sport-info p{
    margin: 0;
    padding: .5rem;
}

.sport-categories{
    padding: .5rem;
    width: 50%;
    text-align: right;
    color: white;
    font-size: 1.2rem;
}

.info-2{
    padding: .5rem;
    width:50%;
    text-align: left;
    color: var(--tennisgreen);
    font-weight: bold;
    font-size: 1.2rem;
}